<my-modal></my-modal>

<header></header>

<add-picture 
	[hidden]="isHome"
></add-picture>

<session-ctrls 
	[hidden]="!isHome"
	(myevent)="openthis"
></session-ctrls>
<div id="content-wrapper">
	<nav [class.isHome]="!isHome">
		<my-body 
			[class.home-wrapper-main]="!isHome"
			[class.home-wrapper-submenu]="isHome"
		></my-body>
	</nav>
	<main class="group" role="main">
		<span class="col1">
			<section>
				<router-outlet class="router-outlet"></router-outlet>
			</section>
		</span>
		
		<span class="col2">
			<section id="progress">
				<progress-graph></progress-graph>
			</section>
		</span>
	</main>
</div>
<footer></footer>