<h1>Jump to Section</h1>
<ul>
	<li *ngFor="let option of home_options">
		
		<!-- other views BUT landind page -->
		<span 
			[hidden]="!isHome"
			class="navbar-option options icon arrow-right icon-gray" 
			(click)="fillRouterOutlet($event, 1)"
		>
			
			{{option.split("_").join(" ")}}
		</span>

		
		<!-- landing page options -->
		<span
			[hidden]="isHome"
			class="options icon arrow-right icon-gray"
			(click)="fillRouterOutlet($event, 0)"
			[routerLink]="[option]"
		>
			{{option.split("_").join(" ")}}
		</span>
	</li>
	<li 
		(click)="takeMeHome()" 
		[hidden]="!isHome"
		class="centered"
	>Home</li>
</ul>



