<!-- <div class="container-wrapper language-block" *ngIf="languageType" [formGroup]="Group">
	<input
		[attr.list]="languageId"
		name="language"
		type="text"
		(keyup)="callService($event)"
		(click)="setProps($event)"
		value="English"
		formControlName = "language"
		[class.error]="!Group.controls.language.valid && Group.controls.language.touched"
	/>

	<datalist [id]="languageId">
		<option *ngFor="let val of langArr" value="{{val}}">{{val}}</option>
	</datalist>

	<div class="select-wrapper">
		<select>
			<option>Select One</option>
			<option>Elementary Proficiency</option>
			<option>Limited Proficiency</option>
			<option>Professional Proficiency</option>
			<option>Full Proficiency</option>
			<option selected>Native or Bilingual Proficiency</option>
		</select>
	</div>	
</div> -->