<div>
	<button class="icon edit notext clear" >Edit</button>
	<div class="edit-submenu" [hidden]="show_submenu">
		<div (click)="editCard(thisCard.experienceId)">Edit</div>
		<div (click)="removeCard(thisCard.experienceId)">Remove</div>
	</div>
</div>