<span class="go-back" #goback >
	<button 
		class="goback-desktop icon notext xclose clear"
		(click)="goBack()"
	>back</button>
	<!-- 
		+ on mobile, onclick, should take you back to the previous screen you were in,
		implement functionality for that
	 -->
</span>