<div class="help-container" >
	<!--<div class="help" (click)="displayContent($event)">?</div>-->
	<button class="help but-tooltip icon tooltip notext white" (click)="displayContent($event)">?</button>
	<span class="help-tooltip tooltip-hide">{{content}}</span>
</div>