		<div class="mondoSelect-wrapper {{openStyle}}"  >
			<button class="icon ellipsis notext icon-white" (click)="toggleOpen()">open</button>
			<div class="dropdown-text">
				<!--<label for="ms-search">Search</label>
				<input type="text" placeholder="Search" id="ms-search" /> -->
				{{dropDownText}}
			</div>
			<div class="dropdown-options">
			<span class="input-group" *ngFor="let val of options ; let i = index">
				<input  type="checkbox"  id="ms{{ i }}" value="check1">
				<label [attr.for]="'ms' + i">{{val}}</label>
			</span>
			<!--
				<h3 class="icon plus">Collapsable link</h3>
				<div>
					<input  type="checkbox" id="ms-01" value="check1">
					<label for="ms-01">multiSelect No. 1</label>
				
					<input type="checkbox" id="ms-02" value="check2">
					<label for="ms-02">multiSelect No. 2 </label>
				</div>
				
				<h3 class="icon plus">Collapsable link</h3>
				<div>		
					<input type="checkbox" id="ms-03" value="check3">
					<label for="ms-03">multiSelect No. 3 - disabled</label>
					
					<input type="checkbox" id="ms-05" value="check5">
					<label for="ms-05">multiSelect No. 4 - w/class error</label>
				</div>

				<h3 class="icon plus">Collapsable link</h3>			
				<div>			
					<input type="checkbox" id="ms-06" value="check3">
					<label for="ms-06">multiSelect No. 3 - disabled</label>
					
					<input type="checkbox" id="ms-07" value="check5">
					<label for="ms-07">multiSelect No. 4 - w/class error</label>
				</div>
				-->
				
				
			</div>
		</div>