<div id="progress-graph" data-pct="100">
	<svg 
		id="svg" 
		width="200" 
		height="200" 
		viewPort="0 0 100 100" >
	  	<circle 
	  		r="90" 
	  		cx="100" 
	  		cy="100" 
	  		fill="transparent" 
	  		stroke-dasharray="565.48" 
	  		stroke-dashoffset="0"
	  	>
	  	</circle>
	  	<circle 
	  		id="bar"
	  		r="90" 
	  		cx="100" 
	  		cy="100" 
	  		fill="transparent" 
	  		stroke-dasharray="565.48" 
	  		stroke-dashoffset="0"
	  	>
	  	</circle>
	  	<text 
	  		id="progress_value" 
	  		x="80" 
	  		y="110" 
	  		fill="orange" 
	  		font-size="30"
	  		> {{sofar}}%</text>
	</svg>

	<!-- TESTING ONLY -->
	<button (click)="add()" >+</button>
</div>

<div id="progress-bar">
		<div [style.width.%]="sofar" >{{sofar}}%</div>
</div>

<button class="">
	Publish my Profile
</button>

