<form [formGroup]="experienceForm">
	<!--======== TITLE  =========-->
	<div class="col-xs-8">
		<label class="col-xs-8">Title</label>
		<!--  keyup and focusout can share the same class...WORK ON THIS-->
		<!-- issue, variable for [hidden] is global and applies to all copmonents,  -->
		<!-- try into using directives to localize scope so each component can have its own variables and output them correctly -->
		<input
			type="text"
			maxlength="100"
			name="title"
			(keyup)="showEraseComp($event)"
			(focusout)="focusOut($event)"
			formControlName="title"
		/>
		<!-- <erase-content
			class="thisEraseContent"
			(click)="eraseContent('title')"
			[hidden]="values.eraseContent.value"
		></erase-content> -->
		<erase-content
			class="thisEraseContent"
			(click)="eraseContent('title')"
		></erase-content>
		<error-message
			class="form-error"
			[control]="experienceForm.controls.title"
		></error-message>
	</div>
	<br>
	<!--======== ORGANIZATION NAME =========-->
	<div class="col-xs-8">
		<label class="col-xs-8">Organization</label>
		<input
			type="text" 
			name="organization"
			formControlName="organization"
			maxlength="100"
			(keyup)="showEraseComp($event)"
			(focusout)="focusOut($event)"
		/>
		<erase-content 
			class="thisEraseContent"
			(click)="eraseContent('organization')"
		></erase-content>
		<error-message
			class="form-error"
			[control]="experienceForm.controls.organization"
		></error-message>
	</div>
	<br>
	<!-- TOGGLE FOR RESIDENCY -->
	<div class="col-xs-8">
		<label class="switch"  >
			<input 
				type="checkbox" 
				(click)="toggle($event, 'residency')" 
				[checked]="values.isResidency.value"
				formControlName = "isResidency"
			/>
			<div class="slider round">{{values.isResidency.text||'OFF'}}</div>
		</label>
		<label class="switch-text">Residency Program</label>
	</div>
	<!--======== LOCATION =========-->
	<div class="col-xs-8">
		<label class="col-xs-8" >Location</label>
		<input
			type="text"
			name="location"
			maxlength="50"
			formControlName="location"
			(keyup)="showEraseComp($event)"
			(focusout)="focusOut($event)"
		/>
		<erase-content 
			class="thisEraseContent"
			(click)="eraseContent('location')"
		></erase-content>
		<error-message
			class="form-error"
			[control]="experienceForm.controls.location"
		></error-message>
	</div>
	<br>

	<!--======================== TIME PERIODS ===========================-->
	<label class="col-xs-8">Time Period</label><br>
	<!-- FROM -->
	<label class="col-xs-8">From</label>
	<div formArrayName="fromTimePeriod" class="col-xs-8">
		<select
			class="col-xs-4"
			formControlName="fromMonth"
			id="fromMonth"
		>
			<option
			 	selected
			>Month</option>
			<option 
				value="{{month.toLowerCase()}}" 
				*ngFor="let month of months"
			>{{month}}</option>
		</select>
	
		<select 
			class="col-xs-4"
			formControlName="fromYear"
			(change)="checkYear($event)"
		>
			<option value="0"></option> <!-- empty value -->
			<option 
				[selected]=true
			>Year</option> <!-- default value -->
			<option 
				*ngFor="let year of years"
				value="{{year}}"
			>{{year}}</option>
		</select><br>
	</div>
	<!-- ====== -->
	<!-- ===============TO===================== -->
	<label class="col-xs-8" *ngIf="!values.isWorkingHere.value">To</label><br>
	<div 
		formArrayName="toTimePeriod" 
		class="col-xs-8" 
		*ngIf="!values.isWorkingHere.value"
	>
		<select 
			class="col-xs-4"
			formControlName="toMonth"
			(change)="checkMonth($event)"
		>
			<option selected >Month</option>
			<option 
				value="{{month.toLowerCase()}}" 
				*ngFor="let month of months"
			>{{month}}</option>
		</select>
		<select 
			class="col-xs-4"
			formControlName="toYear"
			id="toTimePeriod"
		>
			<option value="0"></option> <!-- empty value -->
			<option
				[selected]=true
			>Year</option> <!-- default value -->
			<option 
				*ngFor="let year of years"
				value="{{year}}"
				[disabled]="disabledYears"
			>{{year}}</option>
		</select><br>
		<error-message
			class="form-error"
			[control]="experienceForm.controls.toTimePeriod"
		></error-message>
	</div>
	<!-- TOGGLE FOR CURRENTLY WORKING -->
	<div class="col-xs-8">
		<label class="switch"  >
			<input 
				type="checkbox" 
				(click)="toggle($event, 'work')" 
				[checked]="values.isWorkingHere.value"
				formControlName = "isWorkingHere"
			/>
			<div class="slider round">{{values.isWorkingHere.text||'OFF'}}</div>
		</label>
		<label class="switch-text">I currently work here</label>
	</div>
	<!-- STATEMENT -->
	<label class="col-xs-8" >Description</label>
	<textarea 
		class="col-xs-8"
		rows="10" 
		cols="58" 
		maxlength="499"
		formControlName="description"
		(keydown)="UpdateCounter($event)"
	>
	</textarea><br>
	<word-counter [count]="counter" ></word-counter>

	<button 
		class="white icon plus left"
		type="button"
	>Add Another</button>
	<button
		type="button"
		class="save-continue clear icon arrow-right"
		(click)="saveAndContinue()"
	>Save and Continue</button>
</form>
