<h1 class="only-mobile section-title">Education</h1>

<!-- 
<ul class="education-list">
	<li>
		<div class="school-image"></div>
		<div class="school">
			<b>School Name</b><br />
			Degree | In What<br />
			<span class="fine">from - toto</span>
		</div>

		<p class="only-mobile">Description for mobile. Description for mobile. Description for mobile.Description for mobile.Description for mobile. Description for mobile...</p> 
		
		<p class="only-desktop">Description for desktop. Description for desktop. Description for desktop. Description for desktop. Description for desktop. Description for desktop. Description for desktop...</p> 
	</li>
	
	<li>
		<div class="school-image"></div>
		<div class="school">
			<b>School Name</b><br />
			Degree | In What<br />
			<span class="fine">from - toto</span>
		</div>

		<p class="only-mobile">Description for mobile. Description for mobile. Description for mobile.Description for mobile.Description for mobile. Description for mobile...</p> 
		
		<p class="only-desktop">Description for desktop. Description for desktop. Description for desktop. Description for desktop. Description for desktop. Description for desktop. Description for desktop...</p> 
		
	</li>
</ul>
-->

<ul class="blocks">
	<li>
		<div class="edit-wrapper">
			<edit></edit>edit
		</div>
		
		<div class="picture"></div>
		
		<div class="block-details">
			<b>{{schoolName}}</b><br />
			{{degree}} <span class="divider">|</span> {{degreeIn}}<br />
			1860 - 1936
		</div>

		<div class="block-description">
			<span class="only-mobile">{{description}}</span> 
			
			<span class="only-desktop">{{description}}</span> 
		</div>	
	</li>
	

</ul>


<p class="centered">
<button class="icon left plus white">{{addButtonText}}</button>
</p>


<p class="centered">
<button class="icon arrow-right clear">Save and Continue</button>
</p>