<div class="content-wrapper">
	<h3>Location</h3>
	<div >
	      <span class="switch" [ngClass]="{ 'checked':preferences.relocate }" (click)="preferences.relocate = !preferences.relocate" >
	      <small></small>
	      <input type="checkbox" style="display:none" />
	      <span class="switch-text"></span>
	     </span>
		<p>I am willing to relocate <span tooltip="You may select the states and territories where you might be interested in working. Please note that if you deselect a specific state or territory, sites from that area may not be able to find you in search results."
										  [tooltipDisabled]="false"
										  [tooltipAnimation]="true"
										  tooltipPlacement="right" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></p>
		<div style="clear:both"></div>
	</div>




	<div [hidden]="!preferences.relocate">
	<p>Select the states and/or territories you would be interested in relocating to:</p>

		<tooltip-content #locationTooltip [animation]="true" placement="bottom">
			<div>
				<p *ngFor=" let location of locations" style="float:left; margin:0px 5px" [hidden]="!location.selected">
					<span style="color: #FFF; display:block; ">{{location.name}}</span>
				</p>
				<div style="clear:both"></div>
			</div>

		</tooltip-content>
	<p><span [tooltip]="locationTooltip">{{ dropdownItems.length == locationsCount ? "All" :  dropdownItems.length }} states and territories</span> | <a (click) = "selectLocationVisible = !selectLocationVisible ">Edit</a></p>

	
	<!-- ----- -->
	<div [hidden]="!selectLocationVisible">
    <input type="text" name="{{inputName}}" placeholder="Begin typing to select" (value)="inputValue" 
          (input)="inputValue = $event.target.value"   (focus)="inputFocus()" (blur)="inputBlur($event)">
          <div class = "input-dropdown">
  <div [hidden]="!dropdownVisible">

    <ul>
    <li (click)="addRemoveAllLocations()" (mousedown)="dropdownPressed()">
    <input type="checkbox"  [checked]="allLocations" />
	<label>Select all states and territories</label>
</li>
    <li *ngFor=" let location of (locations | LocationPipe:inputValue)" (click)="addRemoveLocation(location)" (mousedown)="dropdownPressed()">
<input type="checkbox"  [checked]="location.selected" />
	<label>{{location.name}}</label>
</li>
</ul>
<button (click)="pressedDropdown = false; dropdownVisible = false">Done</button><button (click)="pressedDropdown = false; dropdownVisible = false">Cancel</button>
</div>
</div> 
</div>


	
	
	<!-- - ---- -->
	
	</div>
	<div><h3>Community Type <span  tooltip="Indicate the types of communities where you are willing to work."
								   [tooltipDisabled]="false"
								   [tooltipAnimation]="true"
								   tooltipPlacement="right" class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></h3>
	<div (click)="SetUrban()"><input [checked]="preferences.urban"  type="checkbox"><label>Urban</label></div>
	<div (click)="SetRural()">
	<input type="checkbox" [checked]="preferences.rural" />
	<label>Rural</label>
	</div></div>
	<div><h3>Preferred Work Schedule</h3>
	<div (click)="SetFullTime()"><input type="checkbox" [(ngModel)]="preferences.fullTime" /><label>Full Time</label></div>
	<div (click)="SetPartTime()"><input type="checkbox" [(ngModel)]="preferences.partTime" /><label>Part Time</label></div></div>
	<div>
	<br><br>
	<div (click)="SetPreferences()"><input type="checkbox" [(ngModel)]="preferences.preferences" /><label><b>No Preference</b></label></div>
	
	</div>
	<p class="centered">
	<button
		type="button"
		class="save-continue clear icon arrow-right"
		(click)="saveAndContinue()"
	>Save and Continue</button>
</p>
	
</div>