<div class="form-mobile-title" id="abc">{{thisTitle}}</div>
<div class="content-wrapper"  >
	<form [formGroup]="userForm" >
		<!-- =======================FIRSTNAME========================== -->
		<div class="col-xs-8" >
			<label for="firstname"  >First Name*</label><br>
			<div class="input-wrapper">
				<input
					type="text"
					maxlength="40"
					minlength="1"
					formControlName="firstname"
					name="firstname"
					[class.error]="!userForm.controls.firstname.valid && (userForm.controls.firstname.touched || submitAttempt)"
					(keyup)="showEraseComp($event)"
					(focusout)="focusOut($event)"
				/>
				<erase-content (click)="eraseContent('firstname')"></erase-content>
				<error-message
					[control]="userForm.controls.firstname"
					class="form-error"
				></error-message>
			</div>
		</div>

		<!-- =======================LASTNAME========================== -->
		<div class="col-xs-8">
			<label for="lastname" >Last Name*</label><br>
			<div class="input-wrapper">
				<input
					type="text"
					maxlength="40" 
					formControlName="lastname"
					name="lastname"
					[class.error]="!userForm.controls.lastname.valid && (userForm.controls.lastname.touched || submitAttempt)"
					(keyup)="showEraseComp($event)"
					(focusout)="focusOut($event)"
				/>
				<erase-content (click)="eraseContent('lastname')"></erase-content>
				<error-message
					[control]="userForm.controls.lastname"
					class="form-error"
				></error-message>
			</div>
		</div>
		<!-- =======================TITLE========================== -->
		<div class="col-xs-8">
			<label>Professional Title</label><help type="title" ></help><br>
			<div class="input-wrapper">
				<input
					type="text"
					name="title"
					maxlength="50"
					formControlName="title" 
					[class.error]="!userForm.controls.title.valid && userForm.controls.title.touched"
					(keyup)="showEraseComp($event)"
					(focusout)="focusOut($event)"
				/>
				<erase-content (click)="eraseContent('title')"></erase-content>
				<control-messages 
					class="form-error" 
					[control]="userForm.controls.title"
				></control-messages>
			</div>
		</div>
		<!-- =======================LOCATION========================== -->
		<div class="col-xs-8">
			<label>Location</label><br>
			<div class="input-wrapper">
				<input 
					type="text"
					name="location"
					maxlength="50"
					formControlName="location" 
					[class.error]="!userForm.controls.location.valid && userForm.controls.location.touched"
					(keyup)="showEraseComp($event)"
					(focusout)="focusOut($event)"
				/>
				<erase-content (click)="eraseContent('location')"></erase-content>
				<control-messages 
					class="form-error" 
					[control]="userForm.controls.location"
				></control-messages>
			</div>
		</div>
		<!-- ====================CURRENT BHW PROGRAM =================-->
		<div class="col-xs-8">
			<label>Current BHW Program</label><help type="title" ></help><br>
			<div class="input-wrapper">
				<input 
					id="bhw_program"
					readonly
					type="text"
					formControlName="bhwProgram"
					placeholder="Some sort of readonly text"
				/>
				<control-messages
					class="form-error"
					[control]="userForm.controls.bhwProgram"
				>
				</control-messages>
			</div>
		</div>
		<!-- =======================FLD PRACTICE========================== -->
		<div class="col-xs-8 dropdowns-wrapper" >
			<div class="dropdown-container">
				<label>Field of Practice</label> <help type="fldPractice" ></help><br>
				<multi-select 
					type="fop" 
					[group]="userForm"
				></multi-select>
			</div>
			<div class="dropdown-container show">
				<label>Discipline</label> <help type="discipline" ></help><br>
				<multi-select 
					type="discipline" 
					[group]="userForm"
				></multi-select>
			</div>
			<div class="dropdown-container show">
				<label>Specialty</label> <help type="specialty" ></help><br>
				<multi-select 
					type="specialty" 

					[group]="userForm"
				></multi-select>
			</div>
		</div>
		<!-- =======================LANGUAGES========================== -->
		<div class="col-xs-8">
			<label>Languages *</label><br>
			<div formArrayName="languages">
				<div *ngFor="let language of userForm.controls.languages.controls; let i=index">
					<div class="language-container">
						<add-another 
							[group]="userForm.controls.languages.controls[i]" 
							type="language"
						></add-another>
						
					</div>
				</div>
			</div>
			<!-- ADD another component -->
			<p class="centered">
				<button (click)="addLanguage()" class="white icon plus left">
					Add Another
				</button> 
			</p>
		</div>
		<!-- =======================PHONE========================== -->
		<div class="col-xs-8">
			<label>Phone</label><br>
			<div class="input-wrapper">
				<phonenumber-masked [phoneControl]="userForm" ></phonenumber-masked>
				<!-- <erase-content (click)="eraseContent('phone')"></erase-content> -->
			</div>
		</div>
		<!-- =======================EMAIL========================== -->
		<div class="col-xs-8">
			<label>Email</label><br>
			<div class="input-wrapper">
				<input 
					formControlName="email"
					type="email" 
					readonly
				/>
				<erase-content (click)="eraseContent('email')"></erase-content>
				<!-- <control-messages 
					class="form-error" 	
				></control-messages> -->
			</div>
		</div>
		<!-- =======================NPI NUMBER========================== -->
		<div class="col-xs-8">
			<label>Individual NPI Number</label><help type="npi" ></help><br>
			<div class="input-wrapper">
				<input
					type="text"
					name="npi"
					formControlName="npi"
					(keyup)="showEraseCmp($event)"
				/>
				<erase-content (click)="eraseContent('npi')"></erase-content>
			</div>
		</div>
		<!-- =======================STATE LICENSE========================== -->
		<div class="col-xs-8">
			<label>State Licensure</label><br>
			<div formArrayName="stateLicenses">
				<div *ngFor="let stateLicense of userForm.controls.stateLicenses.controls; let i=index">
					<add-another
						type="state"
						[group]="userForm.controls.stateLicenses.controls[i]"
					></add-another>
				</div>
			</div>
			<p class="centered">
				<button (click)="addState()" class="white icon plus left">
					Add Another
				</button> 
			</p>
			<!-- <div class="input-wrapper"> -->
				<!-- <input formControlName="stateLic" ngControl="stateLic" /> -->
				<!-- <add-another type="stateLic"></add-another> -->
				<!-- <erase-content (click)="eraseContent('stateLic')"></erase-content> -->
			<!-- </div> -->
		</div>

		<!-- ADD ANOTHER STATE -->

		<div class="col-xs-8">
			<label>Personal Statement</label><help type="statement" ></help><br>
			<div class="textarea-wrapper">
				<textarea 
					name="statement"
					formControlName="statement"
					rows="10"
					cols="58"
					maxlength="499"
					(keydown)="UpdateCounter($event)"
				></textarea>
				<word-counter [count]="counter" ></word-counter>
			</div>
		</div>

		<div class="col-xs-8 submit">
			<p class="centered">
				<button
					type="button"
					class="save-continue clear icon arrow-right"				
					(click)="saveAndContinue( userForm.controls )" 
				>Save and Continue</button>
			</p>
		</div>
	</form>
</div>