<!-- 
	Section tag should be on each category so that it can be style
	if content is null
 -->
 <!-- <div (click)="SetData()">
 	<input type="checkbox" [checked]="toTest.isData" />
 	<label>Set {{toTest.label}} - To test View with/without data.</label>
 </div> -->
<h2 class="only-mobile section-title">Experience</h2>

<ul class="blocks" >
	<li *ngFor="let block of experiences" id="{{block.experienceId}}">
		<div class="edit-wrapper">
			<edit [thisCard]="block"></edit>
		</div>
		<div class="picture"></div>
		<div class="block-details">
			{{ block.location }} <br />
			{{ block.organizationName }} | {{ block.title }} <br />
			{{ (block.fromMonth=='')?'':block.fromMonth }}
			<!-- COMMA SEPARATOR -->
			<span [hidden]="(block.fromYear==0 || block.fromMonth==null)">,</span>
			{{ (block.fromYear==0)?'':block.fromYear }} 
			<span *ngIf="(block.fromYear==0 && block.fromMonth=='')">-</span>
			<span *ngIf="block.isCurrentWorkLocation">
				Present
			</span>
			<span *ngIf="!block.isCurrentWorkLocation">
				{{ (block.toMonth=='')?'':block.toMonth }}
				<span [hidden]="(block.toYear==0 || block.toMonth==null)">,</span>
				{{ (block.toYear==0)?'':block.toYear }}
			</span>
		</div>
		<div class="block-description">{{ block.description || 'Default description'}}</div>
	</li>
</ul>
<p class="centered">
	<button 
		type="button"
		class="white icon plus left" 
		[routerLink]="['Create-Experience/create']"
		[disabled]="disable"
	>
		{{viewObj.buttonText}}
	</button>
</p>

<p
	[hidden]="showApplicable"
	class="centered"
	(click)="Applicable()"

>
	<input  type="checkbox" id="e-01" value="check1" >
	<label class="centered-label" for="e-01">Not Applicable</label>
</p>

<p class="centered">
	<button
		type="button"
		class="save-continue clear icon arrow-right"
		(click)="saveAndContinue()"
	>Save and Continue</button>
</p>