<form [formGroup]="userForm">
	<!--<div class="col-xs-8">

		  keyup and focusout can share the same class...WORK ON THIS-->
		<!-- issue, variable for [hidden] is global and applies to all copmonents,  -->
		<!-- try into using directives to localize scope so each component can have its own variables and output them correctly
		<input
			type="radio"
			name="title"
			value="training"
		/>Training-->
		<!-- <erase-content
			class="thisEraseContent"
			(click)="eraseContent('title')"
			[hidden]="values.eraseContent.value"
		></erase-content>
		<erase-content
			class="thisEraseContent"
			(click)="eraseContent('title')"
		></erase-content>
		<error-message
			class="form-error"
			[control]="userForm.controls.title"
		></error-message>

	</div>-->

	<div class="col-xs-8">
		<label class="switch"  >
			<input
				type="checkbox"
				(click)="toggle($event)"
				[checked]="IsTraining"
			/>
			<div class="slider round"></div>
		</label>
		<label class="">Certification/</label>
		<label class="">Training</label>
	</div>
	<br>
	<!--======== Training Name  =========-->
	<div class="col-xs-8">
		<label for="trainingName" >Training Name</label><help type="trainingName" ></help><br>
		<div class="input-wrapper">
			<input
					type="text"
					maxlength="100"
					formControlName="trainingName"
					name="trainingName"
					[class.error]="!userForm.controls.trainingName.valid && (userForm.controls.trainingName.touched || submitAttempt)"
					(keyup)="showEraseComp($event)"
					(focusout)="focusOut($event)"
			/>
			<erase-content (click)="eraseContent('trainingName')"></erase-content>
			<error-message
					[control]="userForm.controls.trainingName"
					class="form-error"
			></error-message>
		</div>
	</div>
	<br>

	<!--======================== TIME PERIODS ===========================-->
	<label class="col-xs-8">Time Period</label><br>
	<!-- FROM -->
	<label class="col-xs-8">From</label>
	<div class="col-xs-8">
		<select
			class="col-xs-4"
			formControlName="fromMonth"
			(change)="checkEndDate()"
			id="fromMonth"
		>
			<option value="" disabled selected>Month</option>
			<option> </option>
			<option
				value="{{month.toLowerCase()}}"
				*ngFor="let month of months"
			>{{month}}</option>
		</select>

		<select
			class="col-xs-4"
			formControlName="fromYear"
			(change)="checkEndDate()"
		>

			<option value="" disabled selected>Year</option>
			<option> </option> <!-- default value -->
			<option
				*ngFor="let year of years"
				value="{{year}}"
			>{{year}}</option>
		</select><br>
	</div>
	 <!--====== -->
	<!-- ===============TO===================== -->
	<div [hidden]="isCurrentlyInTraining">
		<label class="col-xs-8" >To</label><br>
		<div class="col-xs-8" >
			<select class="col-xs-4"
				formControlName="toMonth"
				(change)="checkEndDate()"
			>
				<option value="" disabled selected>Month</option>
				<option> </option>
				<option
					value="{{month.toLowerCase()}}"
					*ngFor="let month of months"
				>{{month}}</option>
			</select>
			<select
				class="col-xs-4"
				formControlName="toYear"
				(change)="checkEndDate()"
				id="toTimePeriod"
			>
				<option value="" disabled selected>Year</option>
				<option> </option>
				<option
					*ngFor="let year of years"
					value="{{year}}"
					[disabled]="disabledYears"
				>{{year}}</option>
			</select><br>
			<error-message
				class="form-error"
				*ngIf="endDateValidation.length>0"
			>{{endDateValidation}}</error-message>
		</div>
	</div>
	 <!--TOGGLE FOR CURRENTLY IN TRAINING-->
	<div class="col-xs-8">
		<label class="switch"  >
			<input
				type="checkbox"
				(click)="toggleCurrentlyTraining()"
				[checked]="isCurrentlyInTraining"
				formControlName = "isCurrentlyInTraining"
			/>
			<div class="slider round"></div>
		</label>
		<label class="switch-text">I am currently in training</label>
	</div>
	 <!--DESCRIPTION -->
	<label class="col-xs-8" >Description</label>
	<textarea
		class="col-xs-8"
		rows="10"
		cols="58"
		maxlength="499"
		formControlName="description"
		(keydown)="UpdateCounter($event)"
	>
	</textarea>
	<error-message
			[control]="userForm.controls.description"
			class="form-error"
	></error-message>
	<br>
	<word-counter [count]="counter" style="text-align: right;"></word-counter>

	<button
		class="white icon plus left"
		type="button"
		(click)="addAnother()"
	>Add Another</button>
	<button
			type="button"
			class="save-continue clear icon arrow-right"
			(click)="saveAndContinue()"
	>Save and Continue</button>
</form>
