<span class="hamburguer-wrapper">
	<button class="inline icon icon-white menu notext clear">Menu</button>
	<span></span>
	<button class="inline icon icon-white search notext clear">search</button>
</span>