<!-- 
	header includes:
		+ LOGO : DIV
		+ SEARCH :COMPONENT
		+ USER-DROPDOWN: COMPONENT
		+ HAMBURGUER: COMPONENT
 -->
<div class="header-wrap">
	<span>
		<span class="header-logo">LOGO</span>
	</span>
	<span>
		<search-bar></search-bar>
	</span>
	<span>
		<user-profile></user-profile>
		<hamburguer></hamburguer>
	</span>

</div>