  <div class="multiSelect-wrapper">
    <p>{{ title }}</p>
    <div class="dropdown">
				<span class="dropdown-text">
				  {{(dropdown_text)||'Select all that apply'}}
				</span>
		</div>
		<div [ngSwitch]="type" class="dropdown-options">
      <ul>
        <li *ngFor="let item of list">
          <input type="checkbox"
            [(ngModel)]="item.isChecked"
            (ngModelChange)="handleChange()" />
          <label>{{ item.label }}</label>
        </li>
      </ul>
    </div>
  </div>