<b>Parent of the multi-select!</b>
    <multi-select 
      [title]="'Fields of Practice'" 
      [list]="list1" 
      (onChange)="updateDisciplinesByFoP($event)">
    </multi-select>
    <multi-select 
      *ngIf="list2.length > 0" 
      [list]="list2"
      [title]="'Disciplines'">
    </multi-select>
    <multi-select *ngIf="list3.length > 0" [list]="list3" ></multi-select>